services:
  consul:
    image: hashicorp/consul:latest
    ports:
     - 8500:8500
    container_name: consul

  ocelot:
   build:
    dockerfile: ./Microservice.OcelotGateway/Dockerfile
   ports:
    - 5001:8080
   container_name: ocelot-gateway

  yarp:
   build:
    dockerfile: ./Microservice.YarpGateway/Dockerfile
   ports:
    - 5002:8080
   container_name: yarp-gateway

  auth:
   build:
    dockerfile: ./Microservice.AuthWebAPI/Dockerfile
   ports:
    - 5010:8080
   container_name: auth-webapi

  category:
   build:
    dockerfile: ./Microservice.CategoryWebAPI/Dockerfile
   ports:
    - 5003:8080
   container_name: category-webapi

  product1:
   build:
    dockerfile: ./Microservice.ProductWebAPI/Dockerfile
   ports:
    - 5004:8080
   container_name: product-webapi1

  product2:
   build:
    dockerfile: ./Microservice.ProductWebAPI/Dockerfile
   ports:
    - 6004:8080
   container_name: product-webapi2

  order:
   build:
    dockerfile: ./Microservice.OrderWebAPI/Dockerfile
   ports:
    - 5005:8080
   container_name: order-webapi

  payment:
   build:
    dockerfile: ./Microservice.PaymentWebAPI/Dockerfile
   ports:
    - 5006:8080
   container_name: payment-webapi